{{- if .IsTranslated -}}
    {{- if (ne .Layout "search") }}
        {{- if or (.Param "author") (.Param "ShowReadingTime") (not .Date.IsZero) }}
            {{- printf "&nbsp;|&nbsp;" | safeHTML -}}
        {{- end -}}
    {{- end -}}
    <span>{{- i18n "translations" | default "Translations" }}:</span>
    <ul class="i18n_list">
        {{- range .Translations }}
        {{- $lang := partial "templates/_funcs/get-compat-lang" .Language }}
        <li>
            <a href="{{ .Permalink }}">
                {{- if (and site.Params.displayFullLangName ($lang.Label)) }}
                {{- $lang.Label | emojify -}}
                {{- else }}
                {{- $lang.Name | title -}}
                {{- end -}}
            </a>
        </li>
        {{- end }}
    </ul>
{{- end -}}
